.container-home{
    padding: 10px;
}
.header-home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(246, 253, 205, 0.829);
    margin:20px;
    border-radius: 10px;
    height: 200px;
    box-shadow: 0 4px 6px rgba(0, 0,0, 0.2);
    margin-top: 150px;
}
.header-home a {
    padding: 10px 20px;
    margin: 0 10px;
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
    background: linear-gradient(to right, rgb(40, 110, 0), rgb(14, 165, 0));
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0,0, 0.1);
}
.main-home{
    padding: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(213, 255, 255);
    margin:20px;
    border-radius: 10px;
    height: 200px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0,0, 0.2);
}
.main-home article{
    width: 400px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    margin:20px;
    border-radius: 10px;
    border: solid 1px wheat;
    box-shadow: 0 4px 6px rgba(0, 0,0, 0.2);
    
}
.main-home article img{
    padding: 10px;
    width: 80px;
    height: 80px;
}
.main-home article p {
    font-size: larger;
}
.footer-home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.829);
    margin:20px;
    
    
    border-radius: 10px;
    height: 200px;
    box-shadow: 0 -4px 6px rgba(0, 0,0, 0.2);
}
.footer-home a{
    padding: 10px 20px;
    margin: 0 10px;
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: rgb(63, 54, 54);
    border-radius: 5px;
    outline: none;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0,0, 0.1);
}
.footer-home p {
    color: rgb(63, 54, 54);
    font-size: 16px;
    margin: 20px;
}
.footer-home nav a:hover{
    transition: 0.1s;
    background-color: white;
    color: rgb(63, 54, 54);
}
