.container-learn{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding:20px;

}
.section-learn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    margin:20px;
    padding: 20px;
}
.section-learn h1 {
    color: rgb(63, 54, 54);
    font-size: 50px;
    margin-bottom: 20px;
}
.main-learn{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(210, 255, 234, 0.829);
    width: 70%;
    padding: 20px;
    margin-top:150px ;
    border: solid 1px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0,0, 0.2);
}
.main-learn article{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    margin:20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0,0, 0.2);
}
.main-learn h3{
    font-size: 30px;
    color: rgb(68, 79, 85);
    padding: 20px;
    border-bottom:solid 1px ;
}
.main-learn article ul{
    background-color: rgba(210, 255, 234, 0.829);
    max-width: 80%;
    padding: 20px;
    border: solid 1px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0,0, 0.2);
}
.main-learn article li{
    margin: 20px;
    font-size: 20px;
}