.container-posts{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding:20px;
    padding-top: 150px;

}
.container-posts h1 {
    color: rgb(63, 54, 54);
    font-size: 50px;
    margin-bottom: 20px;
    align-self: center;
}
.main-posts{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(210, 255, 234, 0.829);
    width: 70%;
    padding: 20px;
    border: solid 1px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0,0, 0.2);
}
.post{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    margin:20px auto;
    padding: 40px;
    max-width: 50%;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0,0, 0.2);
}
.post h2 {
    color: rgb(63, 54, 54);
    font-size: 40px;
    margin-bottom: 10px;
    align-self: center;
    padding: 10px;
}
.post h3 {
    color: rgb(63, 54, 54);
    font-size: 30px;
    margin-bottom: 10px;
    padding: 10px;
    border-bottom:solid 2px rgb(63, 54, 54);
}
.post p {
    color: rgb(63, 54, 54);
    font-size: 18px;
    line-height: 1.6;
}
.div-button-posts{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 20px;
}
.like-button{
    width: 100px;
    height: 40px;
    background-color: rgb(72, 255, 56);
    border: solid 1px rgb(72, 255, 56);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0,0, 0.2);
    cursor: pointer;
}
.dislike-button{
    width: 100px;
    height: 40px;
    background-color: rgb(255, 129, 56);
    border: solid 1px rgb(255, 129, 56);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0,0, 0.2);
    cursor: pointer;
}


