
.main-services section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    margin:20px;
    padding: 20px;
}
.main-services h1 {
    color: rgb(63, 54, 54);
    font-size: 50px;
    margin-bottom: 20px;
}
.container-services{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding:20px;

}

.main-services{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(210, 255, 234, 0.829);
    width: 70%;
    padding: 20px;
    margin-top:150px ;
    border: solid 1px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0,0, 0.2);
}
.main-services ol li{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    margin:20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0,0, 0.2);
}

