body{
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(215, 255, 210, 0.829);
    box-shadow: 0 4px 6px rgba(0, 0,0, 0.2);
    position: fixed;
    width: 100%;
    margin-bottom:150px ;
}
.navbar a{
    padding: 10px 20px;
    margin: 0 10px;
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: rgb(63, 54, 54);
    border-radius: 5px;
    outline: none;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0,0, 0.1);
}
.navbar div{
    margin-right: auto;
}
.navbar img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-bottom: 20px;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 100px;
}

.navbar a:hover{
    transition: 0.1s;
    background-color: white;
    color: rgb(63, 54, 54);
}